:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --cloud: #f4f4fd;
  --slate: #434455;
  --cornflower: #e7e9fc;
  --white: #ffffff;
  --grey: rgba(46, 47, 66, 0.7);
  --lightslate: #8e8f99;
  --dairy: #fcfcfc;
  --navyblue-modal: rgba(46, 47, 66, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
/* Header */

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.container {
  min-width: 320px;
  max-width: 428px;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1158px) {
    max-width: 1158px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.textlogo {
  color: var(--navyblue);
}

.header {
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  color: var(--iris);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 24px 0;
}

.header-menu-list {
  display: none;

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    font-size: 16px;
    color: var(--navyblue);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    gap: 40px;
    margin-left: 120px;
  }

  @media screen and (min-width: 1158px) {
    font-size: 16px;
    color: var(--navyblue);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    gap: 40px;
    margin-left: 76px;
  }
}

.header-menu-link {
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--iris, #4d5ae5);
}

.header-menu-link::after {
  content: '';
  border-radius: 2px;
  border: 2px solid transparent;
  height: 4px;
  width: 0;
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover::after,
.header-menu-link:focus::after {
  border: 2px solid var(--ocean);
  background-color: var(--ocean);
  width: 100%;
}

.menu-active::after {
  content: '';
  border: 2px solid var(--ocean);
  border-radius: 2px;
  background-color: var(--ocean);
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -2px;
}

.underline-animation {
  position: relative;
}
.underline-animation::after {
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  bottom: -1px;
  border-radius: 2px;
  position: absolute;
  transform: scaleX(0);
  background-color: var(--ocean);
  transition: transform 0.25s ease-out;
}
.underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header-address-link {
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-active,
.header-address-link:hover,
.header-address-link:focus {
  color: var(--ocean, #404bbf);
}

.header-address-list {
  display: none;

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  @media screen and (min-width: 1158px) {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}

.header-address-item {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate, #434455);
}
/* mobile approach */
.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  color: var(--navyblue, #2e2f42);

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    display: none;
  }

  @media screen and (min-width: 1158px) {
    display: none;
  }
}
.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--white);
  z-index: 200;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

.hamburger-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  height: 32px;
  width: 32px;
  padding: 0;
  background-color: var(--cornflower, #e7e9fc);
  color: var(--navyblue, #2e2f42);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-icon {
  fill: currentColor;
}

.hamburger-close-button:hover,
.hamburger-close-button:focus {
  background-color: var(--ocean);
  color: var(--white);
}

.hamburger-menu-list {
  display: flex;
  flex-direction: column;
  gap: 37px;
}

.hamburger-menu-link {
  color: var(--navyblue, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger-menu-link:hover,
.hamburger-menu-link:focus {
  color: var(--ocean);
}

.hamburger-wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.hamburger-address {
  margin-top: -100px;
  color: var(--slate, #434455);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.hamburger-address-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hamburger-address-link {
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger-address-link:hover,
.hamburger-address-link:focus {
  color: var(--ocean);
}

.highlight {
  color: var(--iris, #4d5ae5);
  font-size: 38px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
}

.hamburger-social-list {
  display: flex;
  justify-content: start;
  gap: 65px;

  @media screen and (min-width: 320px) and (max-width: 399px) {
    gap: 30px;
  }
  @media screen and (min-width: 400px) and (max-width: 467px) {
    gap: 50px;
  }
}

.hamburger-social-link {
  background-color: var(--iris, #4d5ae5);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cloud, #f4f4fd);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger-social-link:hover,
.hamburger-social-link:focus {
  background-color: var(--ocean, #404bbf);
}

.hamburger-social-icon {
  fill: currentColor;
}

/* section 1 */
.hero {
  background-color: var(--navyblue, #2e2f42);
  padding: 112px 0;
  background-image: url(../images/dark-hero-bg.png),
    url(../images/hero-bg-m.jpg),
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover, cover;

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    background-image: unset;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/dark-hero-bg.png),
      url(../images/hero-bg-m@2x.jpg),
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
  }

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    padding: 112px 0;
    background-image: url(../images/dark-hero-bg.png),
      url(../images/hero-bg-t.jpg),
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/dark-hero-bg.png),
        url(../images/hero-bg-t@2x.jpg),
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
    }
  }

  @media screen and (min-width: 1158px) {
    padding: 188px 0;
    background-image: url(../images/dark-hero-bg.png),
      url(../images/hero-bg-d.jpg),
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
    background-size: 1440px, 1440px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/dark-hero-bg.png),
        url(../images/hero-bg-d@2x.jpg),
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
    }
  }
}

.hero-container {
  text-align: center;
}

.hero-title {
  color: var(--white, #fff);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 48px;

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }

  @media screen and (min-width: 1158px) {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }
}

.hero-button {
  color: var(--white, #fff);
  background-color: var(--iris, #4d5ae5);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover {
  background-color: var(--ocean, #404bbf);
  cursor: pointer;
}
/* section 2 */
.section {
  padding: 96px 0;

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    padding: 96px 0;
  }

  @media screen and (min-width: 1158px) {
    padding: 120px 0;
  }
}

.feature-list,
.image-list {
  display: flex;
  flex-direction: column;
  gap: 72px;

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
  }

  @media screen and (min-width: 1158px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    row-gap: 0;
  }
}

.feature-icon-container {
  display: none;

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    display: none;
  }

  @media screen and (min-width: 1158px) {
    background-color: var(--cloud, #f4f4fd);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 100px;
    margin-bottom: 8px;
  }
}

.feature-item {
  width: 100%;

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    width: calc((100% - 24px) / 2);
  }

  @media screen and (min-width: 1158px) {
    width: calc((100% - 72px) / 4);
  }
}

.feature-title {
  color: var(--navyblue);
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.72px;
  margin-bottom: 8px;

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    text-align: left;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.72px;
  }

  @media screen and (min-width: 1158px) {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.4px;
  }
}

.feature-description {
  text-align: justify;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--slate, #434455);

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    text-align: justify;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
  }

  @media screen and (min-width: 1158px) {
    text-align: justify;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
  }
}
/* section 3 */
.section-no-top-padding {
  padding-top: 0;
}

.section-no-top-padding {
  display: none;

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    display: none;
  }

  @media screen and (min-width: 1158px) {
    display: block;
  }
}

.image-item {
  @media screen and (min-width: 1158px) {
    width: calc((100% - 72px) / 3);
  }
}

.section-title {
  color: var(--navyblue);
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

/* section 4 */

.section-team {
  background-color: var(--cloud, #f4f4fd);
  margin: auto;
}

.team-members {
  display: flex;
  flex-direction: column;
  gap: 72px;

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
  }

  @media screen and (min-width: 1158px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    row-gap: 0;
  }
}

.team-card {
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  display: flex;
  padding: 0px 0px 32px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 264px;
  margin: 0 auto;

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    width: calc((100% - 24px) / 2);
  }

  @media screen and (min-width: 1158px) {
    width: calc((100% - 72px) / 4);
  }
}

.team-card-image {
  margin-bottom: 30px;
}

.team-card-text {
  width: 232px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.team-name {
  color: var(--navyblue);
  width: 264px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-position {
  width: 264px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--slate, #434455);
  text-align: center;
}

.team-social-list {
  display: flex;
  gap: 24px;
}

.team-social-link {
  background-color: var(--iris, #4d5ae5);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cloud, #f4f4fd);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--ocean, #404bbf);
}

.team-social-icon {
  fill: currentColor;
}
/* Customers Hw5-7  Section 5*/
.customer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 16px;
  row-gap: 72px;

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
  }

  @media screen and (min-width: 1158px) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 0;
  }
}

.customer-item {
  width: 168px;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer-link {
  border: 1px solid var(--lightslate, #8e8f99);
  border-radius: 4px;
  color: var(--lightslate, #8e8f99);
  padding: 16px 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-icon {
  fill: currentColor;
}

.customer-link:hover,
.customer-link:focus {
  color: var(--ocean, #404bbf);
  border: 1px solid var(--ocean, #404bbf);
}

/* Footer */

.footer {
  background-color: var(--navyblue, #2e2f42);
  padding: 100px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
  column-gap: 0;

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  @media screen and (min-width: 1158px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 96px;
    row-gap: 0;
  }
}

.footer-subscription-form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  @media screen and (min-width: 1158px) {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

.textlogo1 {
  color: var(--cloud);
}

.footer-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: var(--iris);
  display: block;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    text-align: left;
  }

  @media screen and (min-width: 1158px) {
    text-align: left;
  }
}

.footer-text {
  text-align: justify;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--cloud, #f4f4fd);

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    text-align: left;
  }

  @media screen and (min-width: 1158px) {
    text-align: left;
  }
}
/* HW6&7 */

.footer-subscription-text {
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  display: block;
  text-align: center;

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    text-align: left;
  }

  @media screen and (min-width: 1158px) {
    text-align: left;
  }
}

.footer-subscription-input {
  display: block;
  margin: auto;
  color: var(--white, #fff);
  background-color: transparent;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.48px;
  height: 40px;
  padding: 8px 16px;
  outline: none;
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-top: 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 290px;

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    width: 264px;
  }

  @media screen and (min-width: 1158px) {
    width: 264px;
  }
}

.footer-subscription-input:hover,
.footer-subscription-input:focus {
  border: 1px solid var(--ocean, #404bbf);
}

.footer-subscription-input::placeholder {
  color: currentColor;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.48px;
}

.footer-subscription-button {
  border: none;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  padding: 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 16px;
  cursor: pointer;
  color: var(--white, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    align-self: flex-end;
  }

  @media screen and (min-width: 1158px) {
    align-self: flex-end;
  }
}

.footer-subscription-button:hover {
  background-color: var(--ocean, #404bbf);
}

.footer-subscription-icon {
  fill: currentColor;
}
/* HW5 and HW7 */
.footer-social-text {
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-align: center;

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    text-align: left;
  }

  @media screen and (min-width: 1158px) {
    text-align: left;
  }
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 16px;

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    justify-content: flex-start;
  }

  @media screen and (min-width: 1158px) {
    justify-content: flex-start;
  }
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cloud, #f4f4fd);
  background-color: var(--iris, #4d5ae5);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-icon {
  fill: currentColor;
}

/* Hw5 - modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  padding: 72px 24px 24px 24px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: var(--dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: -8px;

  @media screen and (min-width: 320px) and (max-width: 427px) {
    width: 310px;
    margin-top: -122px;
  }

  @media screen and (min-width: 428px) and (max-width: 1157px) {
    width: 408px;
    margin-top: -122px;
  }
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus {
  background-color: var(--ocean);
  border: none;
  color: var(--white);
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}
/* HW6 */
/* Modal Form */
.form-header {
  color: var(--navyblue);
  text-align: center;
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.positioning {
  margin-bottom: 8px;
}

.input-icon {
  position: relative;
}

.form-label-textarea {
  position: relative;
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--lightslate);
}
.form-label-text {
  position: absolute;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--lightslate);
}
.form-input-icon {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 16px;
  width: 18px;
  height: 24px;
  fill: var(--navyblue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover + .form-input-icon,
.form-input:focus + .form-input-icon {
  fill: var(--iris);
}
.form-textarea {
  width: 100%;
  height: 120px;
  /* flex-shrink: 0; */
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checking {
  margin-bottom: 24px;
}
.privacy {
  display: block;
}

.check-mark {
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}
.checkbox:checked + .form-agree-box > .check-mark {
  border: none;
  background-color: var(--ocean);
  fill: var(--cloud);
}

.checkbox-icon {
  cursor: pointer;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--lightslate);
}

.commitment {
  margin-bottom: 16px;
}
.form-agree-box {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--lightslate);
  display: block;
  align-items: center;
  justify-content: flex-start;
  width: 364px;
  height: 16px;
  gap: 8px;
  margin-bottom: 4px;

  @media screen and (min-width: 320px) and (max-width: 427px) {
    width: 264px;
  }
}

.form-agree-box-link {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--iris, #4d5ae5);
  transition-property: color, text-decoration-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 12px;
}
.form-agree-box_link:hover,
.form-agree-box_link:focus {
  color: var(--ocean);
  text-decoration-color: rgba(0, 0, 255, 0);
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 4px;
  width: 380px;
  height: 336px;
  margin-top: 0;
  /* margin-left: 24px;
  margin-right: 24px; */
}
.form-button_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.form-button {
  margin: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  margin-top: -12px;
  background-color: var(--iris);
  color: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 320px) and (max-width: 427px) {
    margin-left: 85px;
    margin-top: -5px;
    display: block;
    min-width: 100px;
    height: 36px;
    padding: 6px 12px;
  }
}
.form-button:hover,
.form-button:focus {
  background-color: var(--ocean);
}
.form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 38px;
  flex-shrink: 0;
  font-size: 14px;
  fill: currentColor;
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.form-input:hover,
.form-textarea:focus,
.form-textarea:hover {
  border-color: var(--iris);
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--lightslate);
  flex-shrink: 0;
}
/* Portfolio */

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  margin-bottom: 72px;

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    flex-wrap: nowrap;
    align-items: center;
  }

  @media screen and (min-width: 1158px) {
    flex-wrap: nowrap;
    align-items: center;
  }
}

.filter-button {
  border: 1px solid var(--cornflower, #e7e9fc);
  background-color: var(--cloud, #f4f4fd);
  border-radius: 4px;
  color: var(--iris, #4d5ae5);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--iris, #4d5ae5);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--iris, #4d5ae5);
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}

.filter-active {
  background-color: var(--ocean, #404bbf);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--ocean, #404bbf);
  border-radius: 4px;
  color: var(--white, #fff);
  cursor: pointer;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    column-gap: 24px;
    row-gap: 48px;
    align-items: flex-start;
  }
  @media screen and (min-width: 1158px) {
    column-gap: 24px;
    row-gap: 48px;
    align-items: flex-start;
  }
}

.project-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    width: calc((100% - 24px) / 2);
  }

  @media screen and (min-width: 1158px) {
    width: calc((100% - 48px) / 3);
  }
}

.project-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project-cover-wrap {
  position: relative;
  overflow: hidden;
}

.project-cover-text {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  background-color: var(--iris, #4d5ae5);
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .project-cover-text,
.project-link:focus .project-cover-text {
  transform: translateY(0);
}

.project-card-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  padding: 32px 16px;
  border-top: 0px;
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  border-left: 1px solid var(--cornflower, #e7e9fc);
  border-right: 1px solid var(--cornflower, #e7e9fc);
  background-color: var(--white, #fff);
}

.project-title {
  color: var(--navyblue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.project-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate, #434455);
}
